@import "./node_modules/bootstrap/dist/css/";

.ta-justify{
    text-align: justify;
}
.ta-center{
    text-align: center !important;
}
.active{
    font-weight: bold;
}
main{
    flex-wrap: wrap;
    justify-content: center;
}
.border-2{
    border-radius: 10px;
}
.card{
    width: 47% !important;
}
.footer{
    height: 10vh;
}
.icon{
    font-size: 2.5vh;
}
iframe{
    max-width: unset !important;
}
#contenido > a{
    color: var( --bs-green);
}
.sinicon{
    list-style: none;
}